*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#091921;
}
.clock{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(./img/clock.png);
    filter: invert(57%) sepia(100%) saturate(392%) hue-rotate(9deg) brightness(95%) contrast(88%);
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #091921;
    border-radius:50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.2)
} 
.clock::before{
    content:'';
    width: 15px;
    height: 15px;
    background:ivory;
    position: absolute;
    border-radius:50%;
    z-index: 999;
}  
.clock .hour,
.clock .minutes,
.clock .seconds{
    position: absolute;
}
.clock .hour, .hr{
width: 240px;
height: 240px;
}
.clock .minutes, .mn{
width: 260px;
height: 360px;
}
.clock .seconds, .sc{
width: 400px;
height: 370px;
}
.hour, .minutes, .seconds{
    display: flex;
justify-content: center;
position: absolute;
}
.hr::before{
    content:'';
    width: 12px;
    height: 120px;
    background:rgba(199, 18, 102, 0.507);
    position: absolute;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    z-index: 10;
    border-radius:6px 6px 0 0;
}
.mn::before{
    content:'';
    width: 6px;
    height: 160px;
    background:rgba(211, 207, 6, 0.829);
    position: absolute;
    left: 50%;
    bottom:50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    z-index: 12;
    border-radius:6px 6px 0 0;
}
.sc::before{
    content:'';
    width: 2px;
    height: 190px;
    background:ivory;
    position: absolute;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    z-index: 14;
    border-radius:6px 6px 0 0;
}



/*//////////////////////digital clock*/

.digital_clock{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    height: 300px;
    position: relative;
    border: 15px solid #091921;
    border-radius: 15px;
    margin-left: 200px;
    padding: 10px;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
    inset 0 -15px 15px rgba(255,255,255,0.05),
    0 15px 15px rgba(0,0,0,0.3),
    inset 0 15px 15px rgba(0,0,0,0.2);
    max-width:1600px;
    filter: invert(57%) sepia(100%) saturate(392%) hue-rotate(9deg) brightness(95%) contrast(88%);
}
.dhours, .dmins, .dsecs{
    font-size: 100px;
    position: relative;
    filter: invert(57%) sepia(100%) saturate(392%) hue-rotate(9deg) brightness(95%) contrast(88%);
}
#dh::after{
    content:':';
    position: absolute;
    align-items:center;
    margin-left: 45px;
    bottom:10px;
}
#dm::after{
    content:':';
    position: absolute;
    align-items:center;
    margin-left: 45px;
    bottom:10px;
}

.month_info{
    position: absolute;
    top: 20px;
    font-size: 30px;
    color: rgba(207, 164, 22, 0.781);
}

.button_btn{
    position: absolute;
    top: 20%;

}
.btn{
    width: 120px;
    height: 30px;
    border-radius:5px;
    cursor:pointer
}